        .form {
            margin: 0 auto 50px;
            padding: 20px;
            border: 1px solid #000;
        }

        .label {
            width: 200px;
            padding-top: 8px;
            text-align: left;
        }

        .table {
            margin: auto;
        }

